Hi $displayName

To Complete the sign up process please verify your e-mail address clicking the link:.
$activationLink

After verification you will have complete access to the system. To learn more about our features, check out about us
If you didn't sign up for an account, just ignore this e-mail or you can deactivate the account by clicking the link:
$notMeLink

This is an automated e-mail message, please do not reply directly. Feel free to contact us should you require any assistance. We are here to help!
https://www.example.com/contact-us

Thanks
The Team
https://www.example.com/