<p><span>Bonjour $displayName</span></p>
<p><br>
<a href="$resetPasswordLink">ici</a></p>
<p><br>
 <br></p>
<p>Merci<br>
The Team <br>
<a href="http://www.example.com/">http://www.example.com/</a></p>