<p><span>Hi $displayName</span></p>
<p>Someone recently requested to change your account's password.<br>
If this was you, you can set a new password <a href="$resetPasswordLink">here</a></p>
<p>If you don't want to change your password, just ignore this message.<br>
 For security purposes, this link will expire 72 hours from the time it was sent.<br></p>
<p>Thanks<br>
The Team <br>
<a href="http://www.example.com/">http://www.example.com/</a></p>