<p>Hi $displayName</p>
<p>To Complete the sign up process please verify your e-mail address clicking the link:.<br>
    $activationLink</p>
<p>After verification you will have complete access to the site. To learn more about our features, check out
    <a href="https://www.example.com/about-us">about us</a></p>
<p>If you didn't sign up for an account, just ignore this e-mail or you can <a href="$notMeLink">delete</a>
    the account.<br>
    This is an automated e-mail message, please do not reply directly.<br>
    Feel free to <a href="https://www.example.com/contact-us">contact us</a> should you require any assistance. We are here to help!</p>
<p>Thanks<br>
    The Team <br>
    <a href="http://www.example.com/">http://www.example.com/</a></p>